
.app {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.image-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.image-display div {
    text-align: center;
    flex: 1;
    max-width: 200px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    object-fit: contain;

}

input[type="file"] {
    margin: 10px 0;
    padding: 10px;
}


canvas {
    margin: 20px auto;
    border-radius: 5px;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 1024px) {
    .app {
        margin: 15px;
        padding: 10px;
    }

    h1 {
        font-size: 1.75rem;
    }

    .image-display {
        flex-direction: column;
        align-items: center;
    }

    .image-display div {
        width: 100%;
        margin-bottom: 10px;
    }

    img {
        max-width: 90%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .app {
        padding: 5px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .image-display {
        flex-direction: column;
        align-items: center;
    }

    .image-display div {
        width: 100%;
        margin-bottom: 20px;
    }

    img {
        max-width: 80%;
    }

    input[type="file"] {
        width: 100%;
        padding: 10px;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .app {
        padding: 5px;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    .image-display {
        flex-direction: column;
        align-items: center;
    }

    .image-display div {
        width: 100%;
        margin-bottom: 10px;
    }

    img {
        max-width: 90%;
    }

    button {
        width: 100%;
        font-size: 0.9rem;
    }

    label {
        font-size: 0.9rem;
    }
}